.searchresult-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
}

.top-level {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

.search-results {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}

