.new-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.new-comment input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
  background-color: #e6ebf5;
  color: rgb(24, 25, 53);
  margin-left: 14px;
  width: 90vh;
}

.new-comment button:hover {
  background-color: #639bcc80;
}

.input-send {
  display: flex;
}

.input-send button {
  padding: 10%;
}
